<div class="contents">
    <p>管理者用Rails管理画面</p>
    <p class="navibar">
        <table>
            <ul>
                <li>ユーザー関係</li>
                <%= link_to "ユーザー一覧", admin_user_show_path %>
            </ul>
            <ul>
                <li>申請関係</li>
                <p><a href="">申請一覧</a></p>
                <p><a href="">申請カテゴリー一覧</a></p>
            </ul>
        </table>
    </p>
</div>
