<div class="contents">
    <!-- header -->
    <%= render partial: 'elements/header' %>
    <!-- header -->
    <p>Ruby on Railsアプリトップ画面</p>
    個人的に学習のため作成
    <p class="navibar">
        <a href="<%= request_path %>">申請画面</a>
    </p>
</div>
